<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
    
<head>
	<title>Achados e Perdidos</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='registerObject/style.css')}}" rel="stylesheet">
</head>
<!--Coded with love by Mutiullah Samim-->
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				{% if obj %}
				<div class="d-flex justify-content-center" id="title">
                    <h2>Atiualizar Objeto Perdido</h2> 
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" enctype = "multipart/form-data">
						<div class="input-group mb-3">
							<input type="file" name="object_image" id="object_image" class="btn btn-success"  accept="image/png, image/jpeg" /> 						</div>
						<div class="input-group mb-3">
							<input type="text" name="name" id="name" class="form-control input_user"  placeholder="Nome do objeto" value="{{ obj.name }}">
						</div>
						<div class="input-group mb-3" id="descricao">
							<textarea type="text" name="description" id="description" class="form-control input_user"  placeholder="Descrição">{{ obj.description }}</textarea>
						</div>
						<div class="input-group mb-3">
							<input type="text" name="reward" id="reward" class="form-control input_user"  placeholder="Recompensa?" value="{{ obj.reward }}">
						</div>
						<div class="d-flex justify-content-center mt-3 login_container">
							<button type="submit" name="button" class="btn login_btn">Atualizar</button>
						</div>
					</form>
				</div>
				{% else %}
				<div class="d-flex justify-content-center" id="title">
                    <h2>Cadastro de Objeto Perdido</h2> 
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" enctype = "multipart/form-data">
						<div class="input-group mb-3">
							<input type="file" name="object_image" id="object_image" class="btn btn-success"  accept="image/png, image/jpeg" /> 						</div>
						<div class="input-group mb-3">
							<input type="text" name="name" id="name" class="form-control input_user"  placeholder="Nome do objeto">
						</div>
						<div class="input-group mb-3" id="descricao">
							<textarea type="text" name="description" id="description" class="form-control input_user"  placeholder="Descrição"></textarea>
						</div>
						<div class="input-group mb-3">
							<input type="text" name="reward" id="reward" class="form-control input_user"  placeholder="Recompensa?">
						</div>
						<div class="d-flex justify-content-center mt-3 login_container">
							<button type="submit" name="button" class="btn login_btn">Cadastrar</button>
						</div>
					</form>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</body>
</html>
