<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Achados e Pedidos UnB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/IEEECS_UnB_AeP">Conheça o Projeto</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if session.logged_in %}
        <li>
          <a class="nav-link active" aria-current="page" href="#">Seus Objetos</a>
        </li>
        <li>
          <a class="nav-link active" aria-current="page" href="#">Logout</a>
        </li>
        {% else %}
        <li>
          <a class="nav-link active" aria-current="page" href="/registro">Registrar-se</a>
        </li>
        <li>
          <a class="nav-link active" aria-current="page" href="/login">Login</a>
        </li>
        {% endif %}

      </ul>


    </div>
  </div>
</nav>
